<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/currency.css}" rel="stylesheet">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Exchange application">
        <meta name="keywords" content="HTML&CSS,JS,Java">
        <meta name="author" content="Pavel Herasymov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
</head>
<body>
<thead>
<div class="upperlabel"></div>
<table class="currency">
    <thead>
    <tr class="columncolor">
        <th></th>
        <th>SHORT NAME</th>
        <th>VALID FROM</th>
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>MOVE</th>
        <th>AMOUNT</th>
        <th>BUY</th>
        <th>SELL</th>
        <th>MID RATE</th>
        <th>CURR BUY</th>
        <th>CURR SELL</th>
        <th>CURR MID RATE</th>
        <th>VERSION</th>
        <th>CNB MID</th>
        <th>ECB MID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="byid : ${usedb}">
        <td id="img"></td>
        <td th:text="${byid.shortName}">Short name</td>
        <td th:text="${byid.validFrom}">Valid from</td>
        <td th:text="${byid.name}">Name</td>
        <td id="country" th:text="${byid.country}">Country</td>
        <script>
            function getValue() {
                var country = document.getElementById('country').textContent;
                var image = '<img src="/img/'+country+'.png"/>';
                document.getElementById('img').innerHTML += image;

            }
            getValue();
        </script>
        <td th:text="${byid.move}">Move</td>
        <td th:text="${byid.amount}">Amount</td>
        <td th:text="${byid.valBuy}">Buy</td>
        <td th:text="${byid.valSell}">Sell</td>
        <td th:text="${byid.valMid}">Middle rate</td>
        <td th:text="${byid.currBuy}">Current buy</td>
        <td th:text="${byid.currSell}">Current sell</td>
        <td th:text="${byid.currMid}">Current mid-rate</td>
        <td th:text="${byid.version}">Version</td>
        <td th:text="${byid.cnbMid}">CB mid rate</td>
        <td th:text="${byid.ecbMid}">ECB mid rate</td>
    </tr>
    </tbody>
</table>
</thead>
</body>
</html>