<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="US-eng">
<link th:href="@{/css/main.css}" rel="stylesheet">
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <meta name="description" content="Exchange application">
    <meta name="keywords" content="HTML&CSS,JS,Java">
    <meta name="author" content="Pavel Herasymov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="upperlabel">
            <h1>Kurzy měn</h1>
        </div>
        <form action="http://localhost:8080/table/" method="GET">
                <label for="name">
                        <img th:src="@{/img/circle/CircleEU.png}" title="european union icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleUSA.png}" title="united states icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleCZ.png}" title="czech republic icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleUK.png}" title="united kingdom icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleUKR.png}" title="ukraine icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CirclePoland.svg}" title="poland icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleCanada.png}" title="canada icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleAustralia.svg}" title="australia icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleBulgaria.svg}" title="bulgaria icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleChina.png}" title="china icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleSweden.svg}" title="sweden icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleArgentina.svg}" title="argentina icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleHK.png}" title="hong kong icon" width="60px" height="60px"/>
                        <img th:src="@{/img/circle/CircleHungary.svg}" title="hungary icon" width="60px" height="60px"/>
                </label>
            <br>
                <input type="text" id="name" list="countries" name="name" placeholder="ex.USA">
                  <datalist id="countries">
                      <option value="Australia"></option>
                      <option value="South Africa"></option>
                      <option value="Canada"></option>
                      <option value="Switzerland"></option>
                      <option value="Denmark"></option>
                      <option value="EU"></option>
                      <option value="Great Britain"></option>
                      <option value="Hong Kong"></option>
                      <option value="Croatia"></option>
                      <option value="Hungary"></option>
                      <option value="Japan"></option>
                      <option value="Norway"></option>
                      <option value="New Zealand"></option>
                      <option value="Poland"></option>
                      <option value="Romania"></option>
                      <option value="Sweden"></option>
                      <option value="Tunisia"></option>
                      <option value="Turkey"></option>
                      <option value="USA"></option>
                      <option value="Bulgaria"></option>
                  </datalist>
                <input type="submit" id="submit" value=""/>
        </form>
        <span class="information">
            <img th:src="@{/img/information.svg}" title="information icon" width="60px" height="60px"/>
        </span>
        <div class="undersearch">
            <p>Kurzovní lístek: <a th:href="@{table}"> načíst</a></p>
        </div>
        <div class="bottomlabel">
            <h4>autor Pavel Herasymov</h4>
            <a href="http://www.linkedin.com/in/pavel-herasymov-8036a627b" class="linkedin">
                <img th:src="@{/img/linkedin.png}" title="linkedin link" width="45px" height="45px"/>
            </a>
            <a href="https://github.com/hanes1233?tab=repositories" class="github">
                <img th:src="@{/img/github.png}" title="github repositories" width="30px" height="30px"/>
            </a>
        </div>
</body>
</html>