<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="US-eng">
<head>
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <title>All rates</title>
    <meta charset="UTF-8">
    <meta name="description" content="Exchange application">
    <meta name="keywords" content="HTML&CSS,JS,Java">
    <meta name="author" content="Pavel Herasymov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="upperlabel"></div>
<table>
    <thead>
      <tr class="columncolor">
        <th></th>
        <th>SHORT NAME</th>
        <th>VALID FROM</th>
        <th>CURRENCY</th>
        <th>COUNTRY</th>
        <th>MOVE</th>
        <th>AMOUNT</th>
        <th>BUY</th>
        <th>SELL</th>
        <th>MID</th>
        <th>CURR BUY</th>
        <th>CURR SELL</th>
        <th>CURR MID</th>
        <th>VERSION</th>
        <th>CNB MID</th>
        <th>ECB MID</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="usedb : ${usedb}">
            <td th:text="${usedb.shortName}">Short name</td>
            <td th:text="${usedb.validFrom}">Valid from</td>
            <td th:text="${usedb.name}">Name</td>
            <td th:text="${usedb.country}">Country</td>
            <td th:text="${usedb.move}">Move</td>
            <td th:text="${usedb.amount}">Amount</td>
            <td th:text="${usedb.valBuy}">Buy</td>
            <td th:text="${usedb.valSell}">Sell</td>
            <td th:text="${usedb.valMid}">Middle rate</td>
            <td th:text="${usedb.currBuy}">Current buy</td>
            <td th:text="${usedb.currSell}">Current sell</td>
            <td th:text="${usedb.currMid}">Current mid-rate</td>
            <td th:text="${usedb.version}">Version</td>
            <td th:text="${usedb.cnbMid}">CB mid rate</td>
            <td th:text="${usedb.ecbMid}">ECB mid rate</td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/myscript.js}"></script>
</body>
</html>





